.input{
  resize: none;
  border-radius: 10px;
  padding: 10px;
  outline-style: none;
  box-shadow: none;
  border-color: transparent;
  background-color: rgba(15, 15, 15, 0.849);

}
.input:focus {
  
  color: white;
}

