@import 'src/styles/vars';

.nav {
  background-color: $lightCaseColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: $baseSize * 5;
  padding-bottom: 100vh;
  color: $darkColor;

  .nav-item {
    padding: $baseSize * 2;
  }
}

@media only screen and (min-width: 750px) {
  .nav { 
    margin-bottom: auto; 
    display: flex;
    flex-direction: row;
    padding-top: 0;
    padding-bottom: 0;
    .nav-item {
      padding: 0em;
      padding-left: $baseSize;
    }
  }
}
