@import 'src/styles/vars';

.team {
  .member {
    border: 2px dotted #fff;
    padding: 0.5em;
    margin-bottom: 1em;

    .member-role {
      padding-top: 0.5em;
      font-style: italic;
      display: flex;
      flex-direction: column;
      color: $linkColor;
    }

    .member-name{
      font-size: 0.40em;
      font-weight: bold;   
    }

    .member-description {
      padding-top: 0.5em;
    }
  }
}


@media only screen and (max-width: 768px){
  .team{
    padding: 0 0.5em;
  }
  
}


