.burgerMenuContainer {  
  position: absolute;
  right: 0;
  top: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}


@media only screen and (min-width: 768px) {
  .burgerMenuContainer {
    display: none;
  }
}
