@import 'src/styles/vars';

.burgerMenuContainer {  
  position: absolute;
  right: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;

  .menu {
    &:hover {
      color: $backgroundColor;
      background-color: #fff;
    }
  }
}


@media only screen and (min-width: 768px) {
  .burgerMenuContainer {
    display: none;
  }
}
