@import 'src/styles/vars';

.error404-container {
  background-color: $altScreenColor;
  color:  #fff;
  position: absolute;
  bottom: 0;
  top: 0;
  width: 100%;
  z-index: -1;
  display: flex;
  flex-direction: column;
  padding: 1em;

  .error404-title {
    font-size: 3em;
    align-self: center;
    margin-top: 1em;
  }

  .error404-disclaimer {
    font-style: italic;
    font-size: 0.8em;
    align-self: center;
  }

  .error404-text {
    margin-top: 1.5em;
    
    .error404-texts {
      display: flex;
      flex-direction: column;
      margin-bottom: 0.8em;
      
      .error404-span {
        font-size: 0.9em;
        font-style: italic;
      }
    }
  }
}
