@import 'src/styles/vars';

.error404-container {
  background-color: $altScreenColor;
  color:  #fff;
  position: relative;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1em;

  .error404-title {
    font-size: 3em;
    align-self: center;
    margin-top: 0.5em;
  }

  .error404-disclaimer {
    font-style: italic;
    font-size: 0.8em;
    align-self: center;
  }

  .error404-text {
    margin-top: 1.5em;
    
    
    .error404-texts {
      flex-direction: column;
      padding-bottom: 0.8em;
      
      .error404-span {
        font-size: 0.9em;
        font-style: italic;
      }
      
      .fabigeon {
        display: inline;
          .tooltip {
            display: none;
          }
        }
        .fabigeon:hover {
          color: #f0f;
          text-shadow: none;
          
          .tooltip {
          display: block;
          max-width: 90vw;
          max-height: 50vh;
          margin: auto;
        }  
      }

    }
  }
}

@media screen and (min-width: 1024px) {
  .error404-container {
    width: 900px;
    margin: auto;
  }
}

@media screen and (min-width: 1680px) {
  .error404-container {
    width: 1300px;
    margin: auto;
  }
}

@media screen and (min-width: 1920px) {
  .error404-container {
    width: 1600px;
    margin: auto;
  }
}

