@import 'src/styles/vars';

.footer {
  background-color: $lightCaseColor;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: $darkColor;
  height: 1.5em;
}

