@import 'src/styles/vars';

.header {

  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 1.5em;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: solid 2px #fff;
  padding-bottom: 1em;


  .nav-logo {
    position: absolute;
    left: 0.5em;

    &:hover {
      color: $backgroundColor;
      background-color: #fff;
    }
    .logo-text {
      display: none;
    }
  }

  .login, .logout {
    &:hover {
      color: $backgroundColor;
      background-color: #fff;
    }
  }

  .nav-container {
    display: none;
  }

}

@media only screen and (min-width: 400px) {
  .header {
    .nav-logo {
      width: fit-content;
    }
  }
}

@media only screen and (min-width: 768px) {

  .header {
    .nav-logo {
      .logo-text {
        display: inline;
      }
    }
    .nav-container {
      display: flex;
      position: absolute;
      right: 0;
      padding-right: 0.5em;
      
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {
    width: 900px;
    margin: auto;
  }
}

@media screen and (min-width: 1680px) {
  .header {
    width: 1300px;
    margin: auto;
  }
}

@media screen and (min-width: 1920px) {
  .header {
    width: 1600px;
    margin: auto;
  }
}
