@import 'src/styles/vars';

.header {
  background-color: $lightCaseColor;
  display: flex;
  justify-content: space-evenly;
  color: $darkColor;
  height: 1.5em;

  .nav-container {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .header {  
    .nav-container {
      display: flex;
    }
  }
}
