@import 'src/styles/vars';

.aside {
  position: fixed;
  right: 5px;
  top: 3.2em;
  color: $noticeColor;
  display: flex;
  z-index: 11;

  .aside-icon svg{
    height: 1.5em;
  }

  .aside-content {
    width: 85vw;
    max-height: 80vh;
    overflow: scroll;
    border: double;
    color: $backgroundColor;
    background-color: $noticeColor;
    padding: 0.5em;
    display: flex;
    flex-direction: column;

    .aside-content-title {
      font-weight: bold;
      color: $noticeColor;
      background-color: $backgroundColor;
      width: fit-content;
      padding: 0 0.2em;
      margin-bottom: 0.5em;
    }
  }
}

@media screen and (min-width: 768px) {
  .aside {
    top: 4em;
    .aside-content {
      width: 70vw;
    }
  }
}

@media screen and (min-width: 1024px) {
  .aside {
    right: 10px;
    top: 4em;
    .aside-content {
      width: 50vw;
    }
  }
}

