@import 'src/styles/vars';

.adventure {
  padding: 1em;

  .adventure-title {
    font-weight: bold;
  }
  .unactive-storyTitle {
    text-decoration: line-through;
  }

  .adventure-metas {
    font-style: italic;
    color: $noticeColor;
    
    .adventure-author {
      padding-right: 0.3em;
    }
    
    .adventure-date::before {
      content: 'le';
      padding-right: 0.3em;
    }
  }

  .adventure-description {
    padding-top: 0.5em;

  }
  
  .adventure-links {
    padding-top: 0.5em;
    color: $linkColor;
    .adventure-link {
      margin: 0 0.25em;
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    .adventure-link-warning {
      color: $noticeColor;
      &:hover {
        cursor: not-allowed;
      }
    }
    .delete-link {
      color: $warningColor;
    }
    .publish-link {
      color: $lightColor;
    }
    .unpublish-link {
      color: $noticeColor;
    }
    
  }
}
