.adventure {
  padding: 0.5em;

  .adventure-title {
    font-weight: bold;
  }

  .adventure-authorAndDate {
    padding-top: 0.5em;
    font-style: italic;
    font-size: 0.8em;
    .adventure-author {
      padding-right: 0.3em;
    }
    .adventure-date::before {
      content: 'le';
      padding-right: 0.3em;
    }
  }

  .adventure-synopsis {
    padding-top: 0.5em;

  }
  .adventure-link {
    padding-top: 0.5em;
    text-decoration: underline;
  }
}
