@import 'src/styles/vars';

.screenCase {

  border: 5px solid $darkBorderColor;

  
 
  .gameScreen {
    padding: 0 1em;
    position:relative;
    min-height: 100vh;
   
    
  
    left: 0;
    right: 0;
    overflow:hidden;
    background: radial-gradient(ellipse at center, $darkColor 50%,$darkScreenColor 100%);
    background-size: 100% 4px;
    background-repeat: repeat-y;
    opacity : 0.9;
    color: $lightScreenColor;
    text-shadow: 0px 0px 10px $lightColor;
    opacity : 0.9;
    
    
    

    .gameScreen-header {
      padding-top: 0.5em;

      .gameScreen-header-timer {
        position: absolute;
        top: 1em;
        right: 1em;
        font-size: 1.5em;
      }

      .gameScreen-header-text {
        padding-top: 1em;
        width: 80%;
      }
    }
    .gameScreen-form {
      padding-top: 1em;
      width: 350px;

      .gameScreen-form-row{
        display: flex;
        flex-direction: row;
        margin-bottom: 0.5em;
        width: 100%;
      }

      .gameScreen-label {
        width: 80px;
      }

      .gameScreen-form-field {
        display: flex;
        width: 60%;

        .gameScreen-form-input {
          padding: 0.2em 0.5em;
          margin-left: 1em;
          background-color: transparent;
          color: $lightScreenColor;
          border: 1px solid $lightScreenColor;
        }
      }
      .gameScreen-formButton {
        border: none;
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: left;
        font-weight: bold;
        font-size: 0.8em;
        background-color: Transparent;
        background-repeat:no-repeat;
        color: $noticeColor;
        text-shadow: 0 0 10px $linkColor;
      }
      .gameScreen-formButton:hover {
        text-decoration: underline;
      }
    }

    .gameScreen-content {
      padding-top: 1em;
    }

    .gameScreen-chapterTitle {
      text-transform: uppercase;
      color: $noticeColor;
      margin-bottom: 0.5em;
    }

    .gameScreen-unlockText {
      color: #fff;
      font-style: italic;
      margin: 0.5em 0;
      .gameScreen-actionButton {
        color: $noticeColor;
      }
      .gameScreen-actionButton:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }
    
    
  }

  .computer-facade{
    display: none;
  }
  

  .gameScreen-storySuccess {
    color: $noticeColor;
    .gameScreen-moreAdventureButton {
      color: #fff;
    }
    .gameScreen-moreAdventureButton:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .gameScreen-answerError {
    color: $warningColor;
  }

  .gameScreen-hintButton{
    color: $linkColor;
    background: transparent;
    border: none;
    font-size: $baseFontSize;
    text-shadow: 0px 0px 10px $linkColor;
    font-weight: bold;
    margin-top: 0.5em;
    disabled {
      text-decoration: line-through;
      color: gray;
    }
  }
  .gameScreen-hintButton:disabled{
    
      text-decoration: line-through;
      color: gray;
    
  }
}

@media only screen and (min-width: 768px) {
  .screenCase {
    
    border: 2em solid rgb(175, 167, 167);
    background-color: rgb(175, 167, 167);


   ::-webkit-scrollbar-track {
     border: 1px solid black;
     background-color: #F5F5F5;
   }

   ::-webkit-scrollbar {
     width: 10px;
     background-color: #F5F5F5;
   }

   :-webkit-scrollbar-thumb {
     background-color: #11d432;
     width: 10px;
   }

    

    .gameScreen{
      border: 15px solid $darkBorderColor;
      border-radius: 1%;
      min-height: 70vh;
      max-height: 70vh;
      overflow: auto;
      
    }

    .computer-facade {
      display: flex;
      justify-content: space-between;
      

      .computer-brand{
        width: 3em;
        background: rgb(139, 139, 139);
        align-self: center;
        border-radius: 5%;
        padding: 2px;
        

        
        .computer-factory {
          color: rgb(87, 90, 94);
          font-size: 0.2em;
          line-height: 1px;
          padding: 1em;
          border: rgb(118, 126, 134) 1px solid;
          margin: 1px 3px;
        }

      }

      .disk-reader {
        height: 5em;
        width: 25em;
        margin-top: 1em;
        background: $darkBorderColor;
        display: flex;
        border-radius: 2%;
        justify-content: center;
        margin: 1em 0 0 0;
        box-shadow: 0px 0px 15px rgb(7, 8, 8);



        .disk-insert {
          height: 20px;
          border: 2px solid rgb(17, 15, 15);
          width: 80%;
          align-self: center;
          box-shadow: 0px 0px 5px rgb(7, 8, 8);
        }

        .disk-eject {
          height: 30px;
          width: 30px;
          border-radius: 50%;
          border: 2px solid rgb(29, 29, 29);
          box-shadow: 0px 0px 5px rgb(0, 0, 0);
          align-self: center;
          margin-left: 20px;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .eject {
            position: relative;
            left: 5px;
            bottom: 8px;

            .triangle {
              display: inline-block;
              height: 0;
              width: 0;
              border-right: 8px solid transparent;
              border-bottom: 8px solid rgb(175, 167, 167);
              border-left: 8px solid transparent;
            }

            .rectangle {
              background: rgb(175, 167, 167);
              height: 4px;
              width: 16px;
            }
          }
        }
      }
    }

      
    .gameScreen {
      padding: 0 2em;
      box-shadow: 0px 0px 15px rgb(7, 8, 8);

      .gameScreen-form {
        .gameScreen-label {
          width: 120px;
        }
        .gameScreen-form-field {
          width: 100%;
        }
      }
    }
  }
}


