@import 'src/styles/vars';

.storyEdit-form {
  display: flex;
  flex-direction: column;
}
.storyEdit-Button{
  border: 1px dashed #6BE145;
    color: #6BE145;
    padding: 1em 2em;
    background-color:#1D1E22;
    margin-top: 1em;
    font-weight: bold;
    border-radius: 1px;
    margin-bottom: 2em;
    width: 100%;

        &:hover{
      background-color:#6BE145;
      color: #1D1E22;
      }
}

.architecture {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
  a {
    margin-bottom: 0.5em;;
  }
  .show {
    display: none;
  }
  .architecture-link {
    &:hover {
      color: $backgroundColor;
      background-color: $lightColor;
    }
  }
  .architecture-subtitle {
    background-color: $backgroundColor;
    color: white;
    margin-top: 0.5em;
  }
  .hide:target + .show {
    display: inline; 
  }
  .hide:target {
    display: none; 
  }
  .hide:target ~ .architecture-details {
    display:inline; 
}
  .architecture-details {
    display: none;
    background-color: white;
    color: $backgroundColor;
    padding: 0.5em;
  }
}

