.storyEdit-form {
  display: flex;
  flex-direction: column;
}
.storyEdit-Button{
  border: 1px dashed #6BE145;
    color: #6BE145;
    padding: 1em 2em;
    background-color:#1D1E22;
    margin-top: 2em;
    font-weight: bold;
    border-radius: 2px;

        &:hover{
      background-color:#6BE145;
      color: #1D1E22;
      }
}
