@import 'src/styles/vars';

.home {
  padding: 0 1em;
  min-height: 100vh;
  position: relative;

  .presentation {
    display: flex;
    flex-direction: column;

    .presentation-description {
      line-height: 1.2em;
      .home-scenario {
        display: inline;
        color: $noticeColor;
      }
    }
    .ascii-container{

      width: 6em;
      height: 11em;
      margin: 0px auto 1em;

      .asciiart {
        white-space: pre;
        width: fit-content;
        margin: 0 auto 1em;
      }
    }
  }
  
  .latest-adventures {

    .latest-adventures-title {
      margin-top: 1em;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      font-size: $secondTitleSize;
      margin-bottom: 0.5em;
    }
  }

  .adventures-container {
    .adventureSmall-container {
      display: flex;
      align-items: center;
      flex-direction: column;
    }
  }

  .home-inscription {
    border: 2px solid $noticeColor;
    padding: 0.5em;
    margin-bottom: 1em;
    margin-top: 1em;
    width: 100%;
    overflow-wrap: break-word;
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    color: $noticeColor;
    
    
    .home-inscription-text {
      font-style: italic;
    }
    .home-links {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 0.5em;
      align-items: center;
      
      .link-inscription {
        color: $linkColor;
        margin-right: 0.5em;

        &:hover {
          background-color: $linkColor;
          color: $backgroundColor;
        }
      }
  
      .link-adventures {
        color: $linkColor;

        &:hover {
          background-color: $linkColor;
          color: $backgroundColor;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {

  .home {
    padding: 0 2em;
    .adventureSmall-container {
      align-items: flex-start !important;
      flex-direction: row !important;
      justify-content: center;
    }

    .home-links {
      flex-direction: row !important;
    }
  }
}

@media screen and (min-width: 1024px) {
  .home {
    padding: 0;
    width: 900px;
    margin: auto;
  }
}

@media screen and (min-width: 1680px) {
  .home {
    width: 1300px;
    margin: auto;
  }
}

@media screen and (min-width: 1920px) {
  .home {
    width: 1600px;
    margin: auto;
  }
}
