
@import 'src/styles/vars';
.profil {
  padding: 0 0.5em;
  .profil-littletitle{
      margin : 1em 0;
      color : $noticeColor;
      font-size: $secondTitleSize;
  }
  .profil-user {
    margin-bottom: 1em;
  }
  .profil-story{
      display: flex;
      flex-wrap: wrap;
      /* margin: -0.5em; */
      margin-bottom: 1em;
  }
}
