@import 'src/styles/vars';

.chapterEdit{
  padding-top: 1em;
  padding-bottom: 1em;

  .chapterEdit-parentChapter{
    background-color: $darkBorderColor;
    border-style: hidden;
    padding: 0.8em 1em;
    color: $lightColor;
    font-size: $baseFontSize;
    font-family: $family;
    margin-left:0.5em;

    
  }
}
.chapterEdit-Button{
  border: 1px dashed #6BE145;
  color: #6BE145;
  padding: 1em 2em;
  background-color:#1D1E22;
  margin-top: 1em;
  font-weight: bold;
  border-radius: 2px;
  margin-bottom:2em ;

  &:hover{
   background-color:#6BE145;
   color: #1D1E22;
  }
}

.storyEdit{
.storyEdit-form-editChoice{
  background-color: $darkBorderColor;
  border-style: hidden;
  padding: 0.8em 1em;
  color: $lightColor;
  font-size: $baseFontSize;
  font-family: $family;
  margin-left:0.5em;
}
}
