@import 'src/styles/vars';

.party {
    border: 2px dotted #fff;
    padding: 0.5em;
    overflow-wrap: break-word;
    flex-grow: 2;
    width: 250px;
    margin-bottom: 1em;
  &:hover {
    border: 2px solid #fff;
  }
  .party-link {
    margin-top: 0.5em;
    color: $linkColor;
    width: fit-content;
  }
  .party-link:hover {
    background-color: $linkColor;
    color: #1d1e22;
  }
  .profil-unactiveParty {
    margin-top: 0.5em;
    color: $noticeColor;
    width: fit-content;
    &:hover {
      cursor: not-allowed;
    }
  }
  .party-story {
    text-transform: uppercase;
    margin-bottom: 0.5em;
  }
  .party-time{
    font-style: italic;
    padding-top: 0.3em;
  }
}

@media screen and (min-width: 500px) {
  .party {
    margin: 0.5em;
  }
}
