@import 'src/styles/vars';

.adventures {
  padding: 0.5em;
  .adventures-create-link {
    padding-top: 0.5em;
    text-decoration: underline;
  }
  .adventures-title {
    font-weight: bold;
    font-size: $titleSize;
  }

  .adventureSmall-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}


@media screen and (min-width: 768px) {
  .adventureSmall-container {
    align-items: flex-start !important;
    flex-direction: row !important;
    justify-content: center;
  }
}
