// Colors
$darkScreenColor: #003D02;
$lightScreenColor: #03DF03;
$altScreenColor: #00007E;
$linkColor: #0e9ab6;
$warningColor: #FB543F;
$noticeColor: #FAC03B;
$backgroundColor: #1d1e22;

$lightCaseColor: #B6B6B6;
$darkCaseColor : #3D3B3B;

$darkBorderColor: #222121;

$darkColor: #000;
$lightColor: #6be145;

// Sizes
$screenCaseWidth: 100%;
$screenCaseHeight: 100%;
$screenCaseTopPosition: 0px;
$baseSize: 1em;

// Font
$baseFontSize: 16px;
$titleSize: 2rem;
$mobileTitleSize: 1.5rem;
$secondTitleSize: 1.5rem;
$family: 'Fixedsys Excelsior 3.01';

