// Colors
$darkScreenColor: #003D02;
$lightScreenColor: #03DF03;
$altScreenColor: #00007E;

$lightCaseColor: #B6B6B6;
$darkCaseColor : #3D3B3B;

$darkBorderColor: #222121;

$darkColor: #000;
$lightColor: #fff;

// Sizes
$pccaseWidth: 90%;
$pccaseHeight: 90%;
$topcaseposition: 0px;
$baseSize: 1em;

// Font
$smallerFontSize : 14px;
$baseFontSize: 16px;
$biggerFontSize: 18px;
