@import 'reset';
@import 'vars';

body {
  font-family: $family;
  background-color: #1d1e22;
  font-size: $baseFontSize;
  min-height: 100vh;
  position: relative;
  color: $lightColor;
  /* text-shadow: 0 0 2px $lightCaseColor; */
  ::selection {
    text-shadow: none;
    background-color: $darkColor;
  }
}

.main-title
{
  font-weight: bold;
    font-size: $mobileTitleSize;
    margin: auto;
    margin-top: 1em;
    border-bottom: 3px dashed #fff;
    width: fit-content;
    padding-bottom: 0.3em;
    margin-bottom: 1em;
}

@media screen and (min-width: 768px) {
  body {
    font-size: 1.1em;
    width: 100%;
  }

  .main-title {
    font-size: $titleSize;
  }
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.4em;
    // width: 900px;
    // margin: auto;
  }
}

@media screen and (min-width: 1680px) {
  body {
    font-size: 1.7em;
    // width: 1300px;
    // margin: auto;
  }
}

@media screen and (min-width: 1920px) {
  body {
    font-size: 2em;
    // width: 1600px;
    // margin: auto;
  }
}


@font-face {
  font-family: $family;
  src: url('../assets/fonts/FSEX300.woff');
}
