@import 'reset';
@import 'vars';

body {
  font-family: 'Fixedsys Excelsior 3.01';
  background-color: green;
}

@font-face {
  font-family: 'Fixedsys Excelsior 3.01';
  src: url('../assets/fonts/FSEX300.woff');
}
