@import 'src/styles/vars';

.button-register {
    border: 1px dashed #6BE145;
    color: #6BE145;
    padding: 1em 2em;
    background-color:#1D1E22;
    margin-top: 2em;
    font-weight: bold;
    border-radius: 2px;
    width: 100%;
  
    &:hover{
     background-color:#6BE145;
     color: #1D1E22;
    }
  }


  input {
      border-style:hidden;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      width: 100%;
      &::placeholder {
        color: $darkCaseColor;
        font-family: $family;
      }
      &::selection {
        background-color: $lightColor;
      }
  }
  
.input-password {

  .form-password-rules{
    display: none;
  }

  &:hover {

    .form-password-rules{
      display: inline;
      font-size: 0.8em;
      color:$noticeColor;
      font-style: italic;
    }
  }
}

.register-link-home {
  margin-top: 1em;
}
